/* begin font styles */
p, label, a {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Georgia', Times, Times New Roman, serif;
}

h1.nameHeader {
    font-size: 30px;
}

h1.pageTitle {
    font-size: xx-large;
    color: #4aaaa5; 
}

h2.pageTitle {
    font-size: xx-large;
    color: #4aaaa5;
    margin-left: 15px;
    margin-top: 15px;
}

h3.sidebarTitle {
    font-size: large;
    color: #4aaaa5;
    margin-left: 15px;
    margin-top: 15px;
}

p.bioText {
    padding-left: 15px;
    margin-right: 15px;
    line-height: 2.0;
}
/* end font styles */

/* start navbar styles */
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}

ul.navbar li {
    float: right;    
    height: 30px;
    line-height: 30px;
    text-align: center;
}

ul.navbar li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li.nameNavbarItem {
    float: left;
    background-color: #4aaaa5;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 14%;
}

ul.navbar li a:hover {
    background-color: #4aaaa5;
}

ul.navbar li.farRightNav {
    margin-right: 14%;
}
/* end navbar styles */

/* applying "jean-gray" background image */
body {
    background: url(../images/gray_jean/gray_jean.png)
}
/* end background image styles */

/* start sticky footer styles */
html, body {
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 120%;
    min-height: -webkit-calc(120%);
    min-height: -moz-calc(120%);
    min-height: calc(120%);

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.wrapper-normal {
    min-height: 100%;
    min-height: -webkit-calc(100%);
    min-height: -moz-calc(100%);
    min-height: calc(100%);

    /* Equal to height of footer */
    /* But also accounting for potential margin-bottom of last child */
    margin-bottom: -50px;
}

.footer, .push {
    height: 50px;
}

.footer {
    background-color: gray;
}

footer p.copyright {
    text-align: center;
    color: white;
    line-height: 50px;
}
/* end sticky footer styles */

/* start layout styles */
div.fullContent {
    width: 960px;
    margin: 0 auto;
}

div.mainContentFullWidth {
    background-color: white;
    padding-top: 2px;
}

div.mainContent {
    float: left;
    background-color: white;
    width: 650px;
    padding-bottom: 15px;
    padding-right: 15px;
}

div.sidebar {
    float: right;
    background-color: white;
    width: 270px;
    padding-bottom: 15px;
}

ul > li.sidebarItem {
    text-align: center;
    float: left;
    width: 33%;
}

ul {
    text-align: center;
    overflow: auto;
    width: 100%;
}
/* end layout styles */

/* start contact form styles */
label.contactForm, 
input.contactFormInput, 
textarea.contactFormInput {
    display: block;
}

label.contactForm, 
input.contactFormInput, 
textarea.contactFormInput {
    width: 95%;
    margin: 15px 15px 0px 15px;
}

form.contactForm {
    padding-bottom: 20px;
}
/* end contact form styles */

div.line {
    background-color: #ddd;
    text-align: center;
    height: 3px;
    margin: 15px;
    margin-right: 0px;
}

div.fullWidthLine {
    background-color: #ddd;
    text-align: center;
    height: 3px;
    margin: 15px;
    margin-right: 15px;
}

/* start demo app list styles */
ul.double {
    width:760px;
    margin-bottom:20px;
    overflow:hidden;
}

li.appLink {
    line-height:1.5em;
    float:left;
    display:inline;
}

#double li { 
    width:50%;
}

#double li.appLink img {
    border:1px solid #021a40;
}

#double li.appLink span {
    display: block;
    margin-top: -45px; 
    margin-bottom: 45px;
    z-index: 1000; 
}
/* end demo app list styles */

/* start submit button styles */
button.submitBtn {
    background-color: #4aaaa5;
    color: #fff;
    border: none;
    margin-left: 15px;
    margin-top: 10px;
    padding: 15px;   
    font-size: 20px;
}
/* end submit button styles */